[controller_fan controller_fan]
pin: PD13
heater: heater_bed
kick_start_time: 0.5
idle_speed:0.2
fan_speed: 0.6

[fan_generic BedFans]
pin: PD12
cycle_time: 0.05
kick_start_time: 0.5

[gcode_macro M106]
description: "Set fan speed (Orca compatible)"
rename_existing: M106.1
gcode:
    {% set fan_map = {
        0: "BedFans"
    } %}
    {% set p = params.P|int if 'P' in params else 0 %}
    {% set fan = fan_map[p] if p in fan_map else fan_map[0] %}
    {% set speed = (params.S|float / 255 if 'S' in params else 1.0) %}
    SET_FAN_SPEED FAN={fan} SPEED={speed}

[gcode_macro M107]
rename_existing: M107.1
gcode:
    {% set fan_map = {
        0: "BedFans"
    } %}
    {% if 'P' in params %}
        {% set p = params.P|int %}
        {% if p in fan_map %}
            SET_FAN_SPEED FAN={fan_map[p]} SPEED=0
        {% else %}
            RESPOND TYPE=command MSG= 'Unknown fan index'
            #RESPOND PREFIX="warn" MSG="Unknown fan index P{{p}}"
        {% endif %}
    {% else %}
        # No P -> turn off all mapped fans
        {% for f in fan_map.values() %}
            SET_FAN_SPEED FAN={f} SPEED=0
        {% endfor %}
    {% endif %}

################ Filter Monitor #####################

[filter_monitor BedFans]
fan: fan_generic BedFans 
max_runtime_hours: 50
max_days: 90
interval: 30
stats_caption: ""
# Output override for FILTER_STATS macro. Defaults to "<filter_name> at". e.g. Air Filter at 98%
expiry_gcode: # Executed when filter meets threshold condition
path: ~/printer_data/config/configs/Filter_Monitor # Folder where filter data is stored#

[gcode_macro BEDFANS_FILTER_STATS]
gcode:
  FILTER_STATS NAME=BedFans [EXTENDED=1]

[gcode_macro BEDFANS_FILTER_RESET]
gcode:
  RESET_FILTER NAME=BedFans