[controller_fan controller_fan]
pin: PD13
heater: heater_bed
kick_start_time: 0.5
idle_speed:0.2
fan_speed: 0.6

[fan_generic Nevermore]
pin: PD12
cycle_time: 0.05
kick_start_time: 0.5


################ Filter Monitor #####################

#[filter_monitor nevermore]
#fan: fan_generic nevermore
#max_runtime_hours: 50
#max_days: 90
#interval: 30
#stats_caption: ""
# Output override for FILTER_STATS macro. Defaults to "<filter_name> at". e.g. Air Filter at 98%
#expiry_gcode: # Executed when filter meets threshold condition
#path: ~/printer_data/config/configs/Filter_Monitor# Folder where filter data is stored#

#[gcode_macro Nevermore_Filter_Stats]
#gcode:
#     FILTER_STATS NAME=nevermore [EXTENDED=1]
  
#[gcode_macro Reset_Nevermore_Filter]
#gcode:
#     RESET_FILTER NAME=nevermore