####################################################################
# TEMPERATURE SENSORS
# TB=PF3 Bed Temp
# T0=PF4 Extruder Temp
# T1=PF5 Chamber Temp (Stealthburner)
####################################################################

[heater_bed]
heater_pin: PA1 #Bed_Out
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
min_temp:   10
max_temp:  150

[heater_generic Heater_Chamber]
gcode_id: CH
heater_pin: EBB36: PA1
sensor_type: Generic 3950
#############  PID_CALIBRATE HEATER=heater_chamber TARGET=60  ##############
sensor_pin: EBB36: PA3
control: pid
pid_Kp=35 
pid_Ki=1 
pid_Kd=350
max_power: .75
min_temp: 5
max_temp: 105

[verify_heater Heater_Chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

[gcode_macro PID_BED]
gcode:
      G28
      PID_CALIBRATE HEATER=heater_bed TARGET=100
      TURN_OFF_HEATERS
      SAVE_CONFIG

[gcode_macro PID_EXTRUDER]
gcode:
      G28
      PID_CALIBRATE HEATER=extruder TARGET=245
      M106 S75
      TURN_OFF_HEATERS
      SAVE_CONFIG 

[gcode_macro PID_CHAMBER]
gcode:
      G28
      PID_CALIBRATE HEATER=Heater_Chamber TARGET=60
      M141 S60
      TURN_OFF_HEATERS
      SAVE_CONFIG

[gcode_macro M141] ##Chamber Heater ON -- 
gcode:
    SET_HEATER_TEMPERATURE HEATER=Heater_Chamber TARGET={ params.S }

#[gcode_macro M191]
#gcode:
#    {% set s = params.S|float %}
#    {% if s == 0 %}
        # If target temperature is 0, do nothing
#        M117 Chamber heating cancelled
#    {% else %}
#        SET_HEATER_TEMPERATURE HEATER=Heater_Chamber TARGET={s}
#        # Orca: uncomment the following line if you want to use heat bed to assist chamber heating
#        M140 S100
#        TEMPERATURE_WAIT SENSOR="heater_generic Heater_Chamber" MINIMUM={s-1} MAXIMUM={s+1}
#        M117 Chamber at target temperature
#    {% endif %}