##########################
#    STATUS MACROS       #
##########################
#    _status_ready
#    _status_heating
#    _status_printing
#    _status_cooling

[neopixel bottom_leds]
pin: PB0
chain_count: 64
color_order: GRBW
initial_RED: 0.5
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0

[gcode_macro _led_vars]
variable_colors: {
        'logo': { # Colors for logo states
            'heating': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w': 0.0},
            'standby': {'r': 0.0, 'g': 0.0, 'b': 1.0, 'w': 0.0},
            
        },
        'nozzle': { # Colors for nozzle states
            'on': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w':1.0}
        }
    }
variable_logo_led_name:         "tool_leds" 
variable_logo_idx:              "3" 
variable_nozzle_led_name:       "tool_leds"
variable_nozzle_idx:            "1,2"
gcode:
    # This section is required.  Do Not Delete.

[gcode_macro _set_toolchanger_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_toolchanger_leds_by_name]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% if tn < 0 %}
    {% set tn = 0 %}
    {% endif %}
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _toolchanger_led_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _T" + tn|string + "_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _T" + tn|string + "_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_toolchanger_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% if tn < 0 %}
    {% set tn = 0 %}
    {% endif %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _T" + tn|string + "_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _T" + tn|string + "_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_toolchanger_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_nozzle_leds]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% if tn < 0 %}
    {% set tn = 0 %}
    {% endif %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _T" + tn|string + "_vars"].nozzle_led_name %}
    {% set idx = printer["gcode_macro _T" + tn|string + "_vars"].nozzle_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_toolchanger_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds_off]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_logo_leds T={tn} red=0 blue=0 green=0 white=0 transmit={transmit}

[gcode_macro _set_nozzle_leds_on]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="on" transmit={transmit}

[gcode_macro _set_nozzle_leds_off]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="off" transmit={transmit}

[gcode_macro _status_off]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_logo_leds_off T={tn} transmit=0
    _set_nozzle_leds_off T={tn}

[gcode_macro _status_ready]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="standby" transmit=0
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="standby" transmit=1

[gcode_macro _status_busy]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="busy" transmit=0
    _set_nozzle_leds_on T={tn}

[gcode_macro _status_heating]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="heating" transmit=1
    _set_toolchanger_leds_by_name T={tn} leds="nozzle" color="heating" transmit=1

[gcode_macro _status_leveling]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="leveling" transmit=0
    _set_nozzle_leds_on T={tn}

[gcode_macro _status_homing]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="homing" transmit=0
    _set_nozzle_leds_on T={tn}

[gcode_macro _status_cleaning]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="cleaning" transmit=0
    _set_nozzle_leds_on T={tn}

[gcode_macro _status_meshing]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="meshing" transmit=0
    _set_nozzle_leds_on T={tn}

[gcode_macro _status_calibrating_z]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="calibrating_z" transmit=0
    _set_nozzle_leds_on T={tn}

[gcode_macro _status_printing]
gcode:
    {% set tn = params.T|default(printer.toolchanger.tool_number)|int %}
    _set_toolchanger_leds_by_name T={tn} leds="logo" color="printing" transmit=0
    _set_nozzle_leds_on T={tn}