[tool_probe_endstop]
crash_mintime: 0.5 # seconds to wait before announcing a crash, if the probe stops 
  #triggering before this, no crash is reported. 
crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    M84
    TURN_OFF_HEATERS

[gcode_macro PROBE_ACCURACY_CHECK]
gcode:
     _CG28
     probe_accuracy samples=100
#Excellent: 0.0005 mm or less
#Good: Up to 0.0008 mm
#Acceptable: Under 0.003 mm
#Higher than acceptable: Above 0.003 mm