[gcode_macro PROBE_ACCURACY_CHECK]
gcode:
     _CG28
     probe_accuracy samples=100
     homing_retract_dist: 7
#Excellent: 0.0005 mm or less
#Good: Up to 0.0008 mm
#Acceptable: Under 0.003 mm
#Higher than acceptable: Above 0.003 mm