#Raspberry Pi 4 Model B Rev 1.5
#BTT OCTOPUS
#STM32F446ZET6

[mcu]
serial: /dev/ttyAMA0
restart_method: command
#USB: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E0031001950534841313020-if00
#USART2: PD6/PD5  /dev/ttyAMA0

[mcu NHK]
serial:  /dev/serial/by-id/usb-Klipper_rp2040_3136313132011274-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 5000    			
max_z_velocity: 50   #Increase your max_z_velocity in increments of 25-50 at a time. Test with multiple tool changes between increments
max_z_accel: 700  #1000     #Increase your max_z_accel in increments of 100-200 at a time. Test with multiple tool changes between increments.
square_corner_velocity: 5.0

[include AFC/*.cfg]
[include configs/*.cfg]
[include configs/KAMP/*.cfg]
[include configs/led_templates/*.cfg]

[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos    : True
variable_custom_park_x     : 295
variable_custom_park_y     : 270
#variable_custom_park_dz    : 10.0  ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract           : 2.0   ; the value to retract while PAUSE
#variable_cancel_retract    : 2.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract     : 35.0  ; retract speed in mm/s
#variable_unretract         : 1.8   ; the value to unretract while RESUME
#variable_speed_unretract   : 35.0  ; unretract speed in mm/s
#variable_speed_hop         : 15.0  ; z move speed in mm/s
#variable_speed_move        : 100.0 ; move speed in mm/s
variable_park_at_cancel    : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x  : 300     ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y  : 300   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_use_fw_retract    : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout      : 14400     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 50.874
#*# pid_ki = 1.739
#*# pid_kd = 372.015
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.064843, -0.053980, -0.052386
#*# 	-0.081876, -0.069283, -0.067268
#*# 	-0.065168, -0.050780, -0.049583
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 110.35
#*# max_x = 189.65
#*# min_y = 121.55
#*# max_y = 178.45
#*#
#*# [beacon model default]
#*# model_coef = 1.6284534541230355,
#*# 	  1.9877717810272153,
#*# 	  0.7755354439573722,
#*# 	  0.4257854863125299,
#*# 	  0.2549801415115403,
#*# 	  -0.15072233097536875,
#*# 	  -0.3482568821483534,
#*# 	  0.011982256877844497,
#*# 	  0.2879125631459408,
#*# 	  0.12777088104942236
#*# model_domain = 1.865761672470289e-07,1.9336485296454734e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 40.283994
#*# model_offset = 0.00000
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.116
#*# pid_ki = 1.432
#*# pid_kd = 63.801
