[gcode_macro M109] # M109 - Wait for Hotend Temperature
#rename_existing: M109.99
description: [T<index>] [S<temperature>]
  Set tool temperature and wait.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = " T="~params.T %}
    {% if params.S|float > 0 %}
      STATUS_HEATING {newparameters}
    {% endif %}
  {% endif %}
  M109.99 {rawparams}
  {% if newparameters is defined %}
    STATUS_READY {newparameters}
  {% endif %}

[gcode_macro TEMPERATURE_WAIT]
rename_existing: LEDS_TEMPERATURE_WAIT
gcode:
  {% if params.HEATER is defined %}
    {% for toolname in printer.toolchanger.tool_names %}
      {% if printer[toolname]['extruder'] == params.HEATER %}
        {% set newparameters = " T="~printer[toolname]['tool_number'] %}
        {% if params.TARGET|float > 0 %}
          STATUS_HEATING {newparameters}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  LEDS_TEMPERATURE_WAIT {rawparams}
  {% if newparameters is defined %}
    STATUS_READY {newparameters}
  {% endif %}