#Phaetus Rapido
[mcu T1]
serial:  /dev/serial/by-id/usb-Klipper_rp2040_4E363334320E4534-if00
restart_method: command

[tool T1]
tool_number: 1
extruder: extruder1
fan: T1_part_fan
detection_pin: !T1:gpio10
gcode_x_offset: -0.107500
gcode_y_offset: 0.270000
gcode_z_offset: -0.248500
params_park_x: 71.22
params_park_y: -8.87
params_park_z: 246
#params_input_shaper_type_x: 'mzv'
#params_input_shaper_freq_x: 62.2
#params_input_shaper_damping_ratio_x: 0.01
#params_input_shaper_type_y: 'mzv'
#params_input_shaper_freq_y: 44.0
#params_input_shaper_damping_ratio_y: 0.01 

[extruder1]
step_pin: T1:gpio23
dir_pin: !T1:gpio24
enable_pin: !T1:gpio25
full_steps_per_rotation: 200
microsteps: 32
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.75
rotation_distance: 47.54  #New RD = Old RD *(120-x)/100  #####  G1 E100 F100   ####
heater_pin: T1:gpio9
sensor_pin: T1:gpio29
pullup_resistor: 2200
sensor_type: ATC Semitec 104NT-4-R025H42G
control: pid
pid_Kp=17.533
pid_Ki=1.391
pid_Kd=55.229
smooth_time: 2.0
min_temp: 0
max_temp: 270
max_power: 1.0
min_extrude_temp: 180
max_extrude_only_distance: 300
max_extrude_cross_section: 5
pressure_advance: 0.03
pressure_advance_smooth_time: 0.040

[tmc2209 extruder1]
uart_pin: T1:gpio0
tx_pin: T1:gpio1
interpolate: false
sense_resistor: 0.100
run_current: 0.8

[fan_generic T1_part_fan] 
pin: T1:gpio6

[heater_fan T1_hotend_fan]
pin: T1:gpio5
heater: extruder1
heater_temp: 50.0

[temperature_sensor NHK1]
sensor_type: temperature_mcu
sensor_mcu: T1
min_temp: 0
max_temp: 100

[adxl345 T1]
cs_pin: T1:gpio27
spi_software_sclk_pin: T1:gpio18
spi_software_mosi_pin: T1:gpio20
spi_software_miso_pin: T1:gpio19
axes_map: x,z,y

[neopixel T1_leds]
pin: T1:gpio7
chain_count: 3
color_order: GRBW
initial_RED: 0.5
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[gcode_macro _T1_vars]
variable_logo_led_name:         "T1_leds"
variable_logo_idx:              "3"
variable_logo_brightness:       "1"
variable_nozzle_led_name:       "T1_leds"
variable_nozzle_idx:            "1,2"
variable_nozzle_brightness:     "1,1"
gcode:

[gcode_macro T1]
variable_active: 0 # Must be zero.  
variable_color: ""
gcode: SELECT_TOOL T=1